.tabs {
    display: flex;

    margin-bottom: 4px;

    .tab {
        position: relative;

        padding: 4px 8px;

        &::first-letter {
            text-transform: capitalize;
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -4px;

            width: 100%;
            height: 2px;

            transition: none;
        }

        &.active {
            &::after {
                background-color: $main-color;

                transition: $main-transition;
            }
        }
    }
}