.table {
    display: flex;
    flex-direction: column;

    height: 508px;
    padding: 16px;

    background-color: $grey-0;
    box-shadow: $main-shadow;
    border-radius: $main-radius;

    .table-header {
        display: grid;

        padding: 12px 16px;

        background-color: $grey-200;
        border-radius: $main-radius;
    }

    .rows {
        display: grid;

        padding: 0 16px;
        
        .column {
            display: flex;
            align-items: center;
            
            height: 48px;
            padding: 12px 0;

            border-bottom: 1px solid $grey-400;

            p {
                line-height: 1.65rem;
            }

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .pagination {
        padding-top: 16px;
        margin-top: auto;
    }
}

.table-filters {
    display: flex;
    gap: 16px;

    margin-bottom: 16px;
}