.tutorial-preview {
    display: flex;

    padding: 16px;

    border-radius: $main-radius;
    background-color: $grey-0;
    box-shadow: $light-shadow;

    transition: $main-transition;

    cursor: pointer;

    img {
        width: 24%;
        margin-right: 24px;

        aspect-ratio: 16/9;

        background-color: $grey-200;
    }

    .infos {
        h3 {
            margin-bottom: 16px;

            font-size: $size-24;
        }

        .row {
            display: flex;
            align-items: center;
            gap: 8px;

            margin-bottom: 16px;

            p {
                margin-right: 16px;
            }
        }

        p.desc {
            width: 65ch;
            
            line-height: 1.5rem;

            color: $grey-700;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        gap: 8px;

        margin-left: auto;
        margin-top: auto;

        svg {
            width: 24px;
            height: 24px;
        }

        p {
            font-weight: 600;
        }
    }

    &:hover {
        box-shadow: $main-shadow;

        transition: $main-transition;

        h3 {
            color: $main-color;
        }

        .icon {
            p, svg {
                color: $main-color;
            }
        }
    }
}