#tutorials-page {
    .head-content {
        padding: 64px 0;
    }

    .filter-menu {
        margin-bottom: 64px;

        .filters {
            display: flex;
        }
    }

    .courses-content {
        .tutorial-preview {
            margin-bottom: 24px;
        }
    }
}