button.animated, a.animated-button {
    padding: 8px 16px;

    color: $static-grey-50;
    border: 2px solid;
    border-color: $main-color;
    border-radius: $main-radius;
    background-color: $main-color;

    &.red {
        border-color: $red;
        background-color: $red;
    }

    font-weight: 500;

    cursor: pointer;
    transition: $main-transition;

    &:hover {
        transition: $main-transition;
    }

    &:not(.filled) {
        &:hover {
            color: $main-color;
            background-color: transparent;
        }
    }

    &.filled:hover {
        border-color: $main-color-dark;
        background-color: $main-color-dark;

        &.red {
            border-color: $red-dark;
            background-color: $red-dark;
        }
    }

    &.outlined {
        color: $main-color;
        background-color: transparent;

        &:hover {
            color: $grey-50;
            background-color: $main-color;
        }
    }
}