// Global

$main-border: 1px solid;
$main-radius: 4px;

$main-shadow: rgba(100, 100, 100, 0.15) 0px 7px 15px 0px;
$light-shadow: rgba(100, 100, 100, 0.07) 0px 4px 12px 0px;

$main-transition: .2s ease;

$line-height: 1.65rem;